#service_area{
    background: $bgcolor;
    .child_service{
       padding: 40px;
       background: $whitecolor;
       flex-basis: 32%;
       border-radius: 10px;
       box-shadow: 0 0 10px gray;
       transition: 0.5s;
       i{
        color: $pcolor;
        font-size: 45px;
        margin-bottom: 20px;
       }

       h4{
        color: $bkcolor;
        font-size: 25px;
        text-transform: uppercase;
       }
       &:hover{
        background: $bkcolor;
        i{
            color: $scolor;
        }
        h4 , p{
            color: $whitecolor;
        }
       }
    }
}